<div class="m-5 text-center text-primary">
  
  <h3><%= @user.name %>さんの詳細情報</h3>
  
</div>

<div class="row">
  
  <div class="col-sm-6 offset-sm-3">
  
    <div class="center jumbotron bg-success">
      
      <h4>名前：<%= @user.name %></h4>
      
      <h4>Eメール：<%= @user.email %></h4>
      
    </div>
  
  </div>
  
</div>

<div class="row">
  
  <div class="col-sm-6 offset-sm-3">

    <%= link_to "編集", edit_user_path(@user), class: "btn btn-lg btn-primary" %>

    <%= link_to "退会", user_path, method: :delete, data: { confirm: "本当に退会してよろしいですか?"}, class: "btn btn-lg btn-danger" %>
    
  </div>

</div>