<%# スケジュール一覧ページにCSSを適用 #%>
<%= stylesheet_link_tag "schedules/index", :media => "all" %>

<%# 現在時刻を出力する時計の表示 #%>
<%= javascript_include_tag "schedules/index" %>

<div class="bg-image">
  
  <div class="Clock">
  
    <p id="RealtimeClockArea"></p>
  
  </div>
  
  
  <!--GoogleMapの表示-->
  
  <h2>地図</h2>
  
  <!--地図入力用のテキストボックスを追加-->
  
  <input id="address" type="textbox" value="">
  
  <!--ボタンを押すとAddressの処理を実行-->
  
  <input type="button" value="場所検索" onclick="Address()">
  
  <div id='map'></div>
  
  <%#GoogleMAPのCSSの処理%>
  
  <style>
  
  #map {
    height: 600px;
    width: 600px;
  }
  </style>
  
  <%#ここからGoogleMapの表示機能の実装%>
  <script>
  let map
  
  function initMap(){
    
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6811673, lng: 139.7670516},
      zoom: 15,
    });
  
  }
  
  function Address(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　
      map.setCenter(results[0].geometry.location);

　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
  </script>
  
  <%#ここまで%>
  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>
    
  <h3>スケジュール一覧</h3>
  
  <div class="bottom">
      
    <%= link_to "スケジュールの新規登録", new_schedule_path, class: "btn btn-lg btn-success" %>
    
  </div>
  
  <h4><%=current_user.name %>さんのスケジュール</h4>
  
  <div class="calendar">
  
    <%= month_calendar  events: @schedules do |date, schedules| %>
      
      <%= date.day %>
      
      <% schedules.each do |schedule| %>
      
        <div class="text-center">
          
          <%= link_to schedule.title, schedule %>
          
        </div>
        
      <% end %>
      
    <% end %>
  
  </div>
  
</div>