<%# スケジュール一覧ページにCSSを適用 #%>
<%= stylesheet_link_tag "schedules/index", :media => "all" %>

<%# 現在時刻を出力する時計の表示 #%>
<%= javascript_include_tag "schedules/index" %>

<div class="bg-image">
  
  <div class="Clock">
  
    <p id="RealtimeClockArea"></p>
  
  </div>
  
  <h3>スケジュール一覧</h3>
  
  <div class="bottom">
      
    <%= link_to "スケジュールの新規登録", new_schedule_path, class: "btn btn-lg btn-success" %>
    
  </div>
  
  <h4><%=current_user.name %>さんのスケジュール</h4>
  
  <div class="calendar">
  
    <%= month_calendar  events: @schedules do |date, schedules| %>
      
      <%= date.day %>
      
      <% schedules.each do |schedule| %>
      
        <div class="text-center">
          
          <%= link_to schedule.title, schedule %>
          
        </div>
        
      <% end %>
      
    <% end %>
  
  </div>
  
</div>